.card{
  display: grid;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sedans suvs luxury";
}

.sedans{
  grid-area: sedans;
  background: hsl(31, 77%, 52%);
}

.suvs{
  grid-area: suvs;
  background: hsl(184, 100%, 22%);
}

.luxury{
  grid-area: luxury;
  background: hsl(179, 100%, 13%);
}

.attribution{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}
