body{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  height: auto;
  background: hsl(0, 0%, 95%);
  /* position: relative; */
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  margin: 15% 0;
  text-transform: uppercase;
  font-size: 33px;
  color: hsl(0, 0%, 95%);
}

p{
  font-size: 15px;
  line-height: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}


.card{
  display: grid;
  width: 60%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sedans suvs luxury";

}

.categoria{
  padding: 15%;
  position: relative;
}

.sedans{
  grid-area: sedans;
  background: hsl(31, 77%, 52%);
  border-radius: 6px 0 0 6px;
}

.suvs{
  grid-area: suvs;
  background: hsl(184, 100%, 22%);
}

.luxury{
  grid-area: luxury;
  background: hsl(179, 100%, 13%);
  border-radius: 0 6px 6px 0;
}


.learn-more{
  display: block;
  position: fixed;
  bottom: 10%;
  background: white;
  padding: 13px 30px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid white;
  transition: 0.3s;
}

.sedans .learn-more{
  color: hsl(31, 77%, 52%);
}

.sedans .learn-more:hover{
  background: hsl(31, 77%, 52%);
  color: white;
}

.suvs .learn-more{
  color: hsl(184, 100%, 22%);
}

.suvs .learn-more:hover{
  background: hsl(184, 100%, 22%);
  color: white;
}

.luxury .learn-more{
  color: hsl(179, 100%, 13%);
}

.luxury .learn-more:hover{
  background: hsl(179, 100%, 13%);
  color: white;
}

.attribution{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 852px){
  .card{
    grid-template-columns: 1fr;
    grid-template-areas: "sedans" "suvs" "luxury";

    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 85%; 
    height: 200%;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 20% 7.5% 20% 7.5%;
  }

  .attribution{
    display: block;
    position: static;
    padding-bottom: 2%;
    transform: translateX(0%);
  }

  .learn-more{
    display: inline-block;
    position: static;
    background: white;
    padding: 13px 30px;
    margin-top: 20%;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid white;
    transition: 0.3s;
  }

  .sedans{
    border-radius: 7px 7px 0 0;
  }
  .luxury{
    grid-area: luxury;
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 7px 7px;
  }
}
